[submodule "app/modules/app/modules/taxonomy"]
	path = app/modules/app/modules/taxonomy
	url = https://github.com/MISP/misp-taxonomies.git
[submodule "app/modules/misp-taxonomies"]
	path = app/modules/misp-taxonomies
	url = https://github.com/MISP/misp-taxonomies.git
[submodule "app/modules/misp-galaxy"]
	path = app/modules/misp-galaxy
	url = https://github.com/MISP/misp-galaxy.git
[submodule "app/modules/rulezet-cast"]
	path = app/modules/rulezet-cast
	url = https://github.com/rulezet/rulezet-cast.git
