flask
sqlalchemy
Flask-Login
flask-session
flask-sqlalchemy
Flask-Migrate
Flask-WTF
Flask-Mail
WTForms
Werkzeug
flask-restx
email_validator
python-dateutil
pytest
gunicorn
jsonschema
requests
gitpython
pyyaml
yara-python
idstools
suricataparser
psycopg2-binary
schedule
APScheduler
aiofiles
zeekscript
msc_pyparser
nova-hunting
pymisp
flask_mail
scikit-learn
faiss-cpu
rapidfuzz
dotenv
pySigma
pySigma-backend-splunk
pySigma-backend-elasticsearch
pySigma-backend-kusto
pysigma-backend-sumologic
pySigma-backend-secops
pySigma-backend-loki
weasyprint
markdown
cryptography
grpcio
pyvelociraptor
psutil
-e ./app/modules/rulezet-validation