{% extends 'base.html' %}
{% block content %}

<div v-if="info_session">
    <h2 class="fw-bold mb-1 text-center text-primary">[[info_session.repo_url]]</h2>
    <div class="mx-auto mb-4" style="width: 60px; height: 4px; background-color: #0d6efd; border-radius: 2px;"></div>


    <div v-if="!is_finished">
        <p class="text-muted mt-2">
            Importing rules
            This may take a while, please wait...
        </p>

        <div class="progress">
            <div class="progress-bar progress-bar-striped active" id="progress" role="progressbar" aria-valuemin="0"
                aria-valuemax="100" :style="'width:'+progress + '%;'">
            </div>
        </div>
        <span v-if="status_site" id="status">[[status_site]]</span>
    </div>
    <!-- [[info_session]] -->

    <div v-if="is_finished" class="container col-md-10 justify-content-center my-5">
        <template v-if="data_is_loading">
            <p class="text-muted mt-2">
                Import completed successfully.
                You can now view the imported rules and their details below.
                <span class="text-primary">
                    <a :href="info_session.repo_url" rel="noreferrer" target="_blank">
                        [[info_session.repo_url]]
                    </a>
                </span>.
            </p>

            <div v-if="result_data.info" class="card shadow border-0">
                <div class="card-body p-4 bg-light rounded">
                    <h3 class="fw-bold mb-3">Github information</h3>

                    <table class="table">
                        <tr v-if="result_data.info.author">
                            <td style="color:#494950">Author</td>
                            <td><b>[[ result_data.info.author ]]</b></td>
                        </tr>
                        <tr v-if="result_data.info.description">
                            <td style="color:#494950">Description</td>
                            <td><b>[[ result_data.info.description ]]</b></td>
                        </tr>
                        <tr v-if="result_data.info.license">
                            <td style="color:#494950">License</td>
                            <td><b>[[ result_data.info.license ]]</b></td>
                        </tr>
                        <tr v-if="result_data.info.created_at">
                            <td style="color:#494950">Creation Date</td>
                            <td><b>[[ result_data.info.created_at ]]</b></td>
                        </tr>
                        <tr v-if="result_data.info.language">
                            <td style="color:#494950">Language</td>
                            <td><b><span class="badge bg-primary">[[ result_data.info.language ]]</span></b></td>
                        </tr>
                        <tr v-if="result_data.info.watchers">
                            <td style="color:#494950">Watchers</td>
                            <td><b>[[ result_data.info.watchers ]]</b></td>
                        </tr>
                        <tr v-if="result_data.info.stars">
                            <td style="color:#494950">Stars</td>
                            <td><b>[[ result_data.info.stars ]]</b></td>
                        </tr>
                        <tr v-if="result_data.info.open_issues">
                            <td style="color:#494950">Open Issues</td>
                            <td><b>[[ result_data.info.open_issues ]]</b></td>
                        </tr>
                    </table>
                </div>

                <div class="card-body p-4 bg-light rounded">
                    <h3 class="fw-bold mb-3">Import summary</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td style="color:#494950">Total Files</td>
                                <td><b>[[result_data.total]]</b></td>
                            </tr>
                            <tr>
                                <td style="color:#494950">Total Rules</td>
                                <td><b>[[result_data.imported + result_data.bad_rules + result_data.skipped]]</b></td>
                            </tr>
                            <tr>
                                <td style="color:#494950">Imported</td>
                                <td><b>[[result_data.imported]]</b></td>
                            </tr>
                            <tr>
                                <td style="color:#494950">Bad Rules</td>
                                <td><b>[[result_data.bad_rules]]</b></td>
                            </tr>
                            <tr>
                                <td style="color:#494950">Skipped</td>
                                <td><b>[[result_data.skipped]]</b></td>
                            </tr>
                            <tr>
                                <td style="color:#494950">Query Date</td>
                                <td><b>[[result_data.query_date]]</b></td>
                            </tr>
                            <template v-for="format, key in result_data.count_per_format">
                                <template v-if="format.bad_rule > 0 || format.imported > 0 || format.skipped > 0">
                                    <tr>
                                        <td class="text-end"><b>[[key]]</b></td>
                                        <td></td>
                                    </tr>
                                    <tr v-if="format.bad_rule > 0">
                                        <td></td>
                                        <td>Bad rules: [[format.bad_rule]]</td>
                                    </tr>
                                    <tr v-if="format.imported > 0">
                                        <td></td>
                                        <td>Imported: [[format.imported]]</td>
                                    </tr>
                                    <tr v-if="format.skipped > 0">
                                        <td></td>
                                        <td>Skipped: [[format.skipped]]</td>
                                    </tr>
                                </template>
                            </template>
                        </table>
                    </div>
                    <div class="text-center">

                        <!-- Go back Button -->
                        <div class="d-flex justify-content-center gap-3 mt-4 mb-3">
                            <a href="javascript:history.back()" style="width: auto;"
                                class="btn btn-secondary btn-sm d-inline-flex align-items-center shadow-sm px-3 py-2 rounded-pill">
                                <i class="fas fa-arrow-left me-2"></i>
                                Back
                            </a>
                            <button
                                class="btn btn-primary btn-sm d-inline-flex align-items-center shadow-sm px-3 py-2 rounded-pill"
                                type="button" @click="goto(info_session.repo_url)">
                                View rules
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <template v-else>
            <!-- loading the data -->
            <div class="col-12 text-center py-5">
                <div class="spinner-border text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </template>

    </div>



</div>

{% endblock %}



{% block script %}
<script type="module">

    const { createApp, ref, onMounted } = Vue;
    import { message_list, create_message } from '/static/js/toaster.js';

    createApp({
        delimiters: ['[[', ']]'],
        setup() {

            const data_is_loading = ref(false)



            const progress = ref(0)
            const status_site = ref("")

            const info_session = ref({})
            const result_data = ref({})
            const is_finished = ref(false)

            async function fetchInfoSession() {
                data_is_loading.value = false
                const res = await fetch('/rule/import_get_info_session/{{sid}}')

                if (await res.status === 200) {
                    const data = await res.json()
                    info_session.value = data

                } else {
                    create_message((await res.json()).message, (await res.json()).toast_class)
                }
                data_is_loading.value = true
            }

            function goto(url) {
                const params = new URLSearchParams({ url })
                window.location.href = `/rule/github_detail?` + params.toString()
            }




            function pollScan() {
                // Loop function to update the list of identified domains
                $.getJSON('/rule/import_loading_status/{{sid}}', async function (data) {
                    result_data.value = data
                    progress.value = Math.round((data['complete'] / data['total']) * 100)
                    status_site.value = 'Processed ' + data['complete'] + ' of ' + data['total'] + ' files'
                    if (data['remaining'] > 0) {
                        setTimeout(pollScan, 5000);
                    } else {
                        is_finished.value = true
                        status_site.value = 'Found ' + data['complete'] + ' files.'
                        const res = await fetch('/rule/import_loading_status/{{sid}}?is_finished=true')
                        const loc = await res.json()
                        result_data.value = loc
                    }
                });
            }


            onMounted(() => {
                fetchInfoSession()
                pollScan();
            });


            return {
                message_list,
                status_site,
                progress,
                info_session,
                result_data,
                is_finished,
                goto,
                data_is_loading
            };
        }
    }).mount('#main-container');

</script>
{% endblock %}